<main>
    <div class="gameBox">
        <h1>Choose an Avatar</h1>
        <div class="avatar-container">
            <app-avatar name="Bob"></app-avatar>
            <app-avatar name="Simon"></app-avatar>
        </div>
        <form [formGroup]="nameForm" (ngSubmit)="selectName()">
            <div *ngIf="error" class="error-box">{{error}}</div>
            <input type="text" name="GamePin" placeholder="Name"> <br>
            <app-emoji-picker emojis="🧒👱👩👨‍🦲🧓"></app-emoji-picker> <br>
            <button type="submit">Confirm</button>
        </form>
    </div>
</main>